
@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@

@using MVCBierenApplicatie.Models;
@model List<Bier>

<h2>Alle bieren</h2>
<ul>
    @foreach (var bier in Model)
    {
        <li>@bier.ID @bier.Naam bevat @(bier.Alcohol*100) % alcohol</li>
    }
</ul>

